.container-fluid {
  text-align: center;

  width: 100%;
  /* height: 100%; */
}
.Button {
  margin-left: 30px;
}
.main_div {
  background-position: center;

  height: 100vh;
  width: 100%; 
  background-image: url(./assets/Poster2.jpg);
}
.heading {
  color: burlywood;
  padding: 30px;
}
.heading1{
  background-color: gray;
    margin-top: 40px;
}
.subHeading {
  color: honeydew;
}
.Button {
  margin: 40px;
}
.btn.btn-secondary {
  width: 95px;
}
.div {
  text-align: center;
}

/* .card-body{
  margin-left: 20px;
} */
.card {
  background: transparent;
  height: 150%;
  width: 100%;
  border: solid 4px gray;
}

.movietitle {
  margin-bottom: auto;

}
.ratingsign {
  margin-bottom: auto;
}
.popularity {
  margin-bottom: auto;
  width: fit-content;
}
.btn btn-sucess btnstyle {
  background-color: green;
}
.div {
  background-position: center;
  height: 150vh;
  width: 100%;
  background-color: rgb(136, 130, 130);
  height: fit-content;
  background-image: url(./assets/Poster3.jpg);
}

.row.mid-div1 {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
}
.imgStyle{
height:400px;
width:550px;
  margin-left: 340px;
}
.row {
  margin-top: 30px;
 }
 .row1{
   background-color: rgb(223, 211, 211);
 }
.img {
  height: 230px;
  width: auto;
}

.postionstyle:hover .img {
  opacity: 0.5;
}
.card {
  height: 100%;
  border-radius: 5px;
  width: 80%;
  border: solid 0px rgb(238, 216, 216);
}
.title {
  text-align: center;
  width: 10px;
  height: auto;
}
.searchList a {
  /* border-radius: 6px; */
  display: flex;
  align-items: center;
  padding: 5px;
  width: 100px;
  position: absolute;
  background: black;
  height: 100px;
  text-align: center;
}
.searchbutton {
  border-radius: 12px;
  /* border: transparent; */
}

.card-img-top {
  border-radius: 14px;
}
.movietitle{
  text-emphasis-color: white;
}
.card-body:hover .img{
  opacity: 1;
}
.img{
  opacity:0.5;
}
img:hover{
  background-color: darkseagreen;
}
.home{
  background-color: lightblue;
}
